- title "Teams"

%table
  %tr
    %th Name
  - for @team in @teams
    %tr
      %td= @team.name
      %td
        = render 'teams/links'
      %tr Players:
      

%p= link_to "New Team", new_game_team_path
