- title "Teams"

%table
  %tr
    %th Name
  - for @team in @teams
    %tr
      %td= @team.name
      %td
        = link_to 'Show', @team
        |
        = render 'teams/links'

%p= link_to "New Team", new_game_team_path
