- title "Edit Player Round"

= render 'form'

%p
  = link_to "Show", player_player_round_path(@player_round.player, @player_round)
  |
  = link_to "View All", player_player_rounds_path(@player_round.player)
