= link_to "Edit", edit_player_path(@player)
|
= link_to "Destroy", @player, :confirm => 'Are you sure?', :method => :delete
|
= link_to "View All", team_players_path(@player.team)
|
= link_to "Current round", edit_player_player_round_path(@player, @player.current_round)
