- title "Players"

%table
  %tr
    %th Name
  - for @player in @players
    %tr
      %td= @player.name
      %td
        = link_to 'Show', @player
        |
        = render 'players/links'

%p= link_to "New Player", new_team_player_path
