- title "Team Round"

%p
  %strong Decade:
  = @team_round.decade
%p
  %strong Temperature:
  = @team_round.temperature
%p
  %strong Cumulative Global Co2:
  = @team_round.cumulative_global_co2

%p
  = render 'team_rounds/links'
